body{
    text-align: center;
}

.greeting{
    text-align: center;
    font-size: 2em;
    width: 300px;
    margin: 100px auto 0 auto;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
}

#footer{
    margin-top: 40px;
}