{% extends "layout.html" %}
{% block title %} - About{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title-->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Rhythm Recording</h2>
            <!-- Icon Divider-->
            <div class="divider-custom2">
                <div class="divider-custom2-line"></div>
            </div>
            <!-- Portfolio Modal - Description-->
            <p class="text-muted text-left"> TapTune's <a href="/recordingRhythm"><span style="color: #30a2ff; font-weight: bold;">Rhythm Recording </span></a>feature takes your input of beats to a song's rhythm and any filters that you can remember to describe the song.  It will then use a search algorithm after analyzing your input values to find the song that you are thinking of and display what we found.</p>
            <!-- Portfolio Modal - Text-->
            <h3 class="mb-1 text-secondary text-uppercase text-left">Instructions</h3>
            <ol class="text-left" type="1">
                <li>Press the "Start Recording" button.</li>
                <li>When you are ready, start tapping anywhere on the screen to record the rhythm of the song you are thinking of.</li>
                <li>If you feel as if you messed up on the input, feel free to reset the recording with the reset button.</li>
                <li>Once you tapped around 8-20 beats, click "Stop" </li>
                <li>[TODO] Listen back to the rhythm that you recorded and if you think it's accurate, "Submit" your recording.</li>
                <li>Input any filters that you think would help with our search.</li>
                <li>Wait for the website to find your song and you should find our top main result based on your input recording and filters.</li>
            </ol> 
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title-->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Melody Recording</h2>
            <!-- Icon Divider-->
            <div class="divider-custom2">
                <div class="divider-custom2-line"></div>
            </div>
            <!-- Portfolio Modal - Description-->
            <p class="text-muted text-left"> TapTune's <a href="/recordingMelody"><span style="color: #f85c5c; font-weight: bold;">Melody Recording </span></a>feature takes your singing/humming of a song you can remember.  It will then use a search algorithm after analyzing your input values to find the song that you are thinking of and display what we found.</p>
            <!-- Portfolio Modal - Text-->
            <h3 class="mb-1 text-secondary text-uppercase text-left">Instructions</h3>
            <ol class="text-left" type="1">
                <li>Press the "Start Recording" button.</li>
                <li>When you are ready, start singing and humming to the song you're thinking of</li>
                <li>If you feel as if you messed up on the input, feel free to reset the recording with the reset button.</li>
                <li>Once you sing or hum at least 10 seconds, click "Stop" </li>
                <li>[TODO] Listen back to your singing/humming that you recorded and if you think it's accurate, "Submit" your recording.</li>
                <li>Wait for the website to find your song and you should find our top main result based on your input recording.</li>
            </ol> 
        </div>
    </div>
</div>

{% endblock %}