{% extends "layout.html" %}
{% block title %} - About{% endblock %}
{% block content %}
<section class="page-section mb-0 bg-third">
    <div class="container">
        <!-- Crowdsourcing Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">About Taptune</h2>     
      </div>
    </div>
</section>
<div class="modal-body text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Rhythm Recording</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Description-->
                <p class="text-muted text-left"> TapTune's <span style="color: #65baff; font-weight: bold;">Rhythm Recording </span>feature takes your input of beats to a song's rhythm and any filters that you can remember to describe the song.  It will then use a search algorithm after analyzing your input values to find the song that you are thinking of and display what we found.</p>
                <!-- Portfolio Modal - Text-->
                <h3 class="mb-1 text-secondary text-uppercase text-left">Instructions</h3>
                <ol class="text-left" type="1">
                <li>Press the "Start Recording" button.</li>
                <li>When you are ready, start tapping anywhere on the screen to record the rhythm of the song you are thinking of.</li>
                <li>If you feel as if you messed up on the input, feel free to reset the recording with the reset button.</li>
                <li>Once you tapped around 8-20 beats, click "Stop" </li>
                <li>[TODO] Listen back to the rhythm that you recorded and if you think it's accurate, "Submit" your recording.</li>
                <li>Input any filters that you think would help with our search.</li>
                <li>Wait for the website to find your song and you should find our top main result based on your input recording and filters.</li>
                </ol> 
                <button class="btn btn-third" data-dismiss="modal" onclick="goToRhythm()">
                    Start Recording
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Instruction Modal 2-->
<div class="modal-body text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Melody Recording</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Description-->
                <p class="text-muted text-left"> TapTune's <span style="color: #ff9292; font-weight: bold;">Melody Recording </span>feature takes your singing/humming of a song you can remember.  It will then use a search algorithm after analyzing your input values to find the song that you are thinking of and display what we found.</p>
                <!-- Portfolio Modal - Text-->
                <h3 class="mb-1 text-secondary text-uppercase text-left">Instructions</h3>
                <ol class="text-left" type="1">
                    <li>Press the "Start Recording" button.</li>
                    <li>When you are ready, start singing and humming to the song you're thinking of</li>
                    <li>If you feel as if you messed up on the input, feel free to reset the recording with the reset button.</li>
                    <li>Once you sing or hum at least 10 seconds, click "Stop" </li>
                    <li>[TODO] Listen back to your singing/humming that you recorded and if you think it's accurate, "Submit" your recording.</li>
                    <li>Wait for the website to find your song and you should find our top main result based on your input recording.</li>
                </ol> 
                <button class="btn btn-primary" data-dismiss="modal" onclick="goToMelody()">
                    Start Recording
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    {{super()}}
{% endblock %}