{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #ac1a00; }
  </style>
{% endblock %}
{% block content %}
  <!-- Masthead-->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='assets/images/tapTune-512.png') }}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Start Tapping The Tune!</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Fingerprint - Audio Analysis - Song Suggestion</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container-fluid">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Features</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <div class="container d-flex align-items-center flex-column">
            <small id="emailHelp" class="form-text text-muted mb-3">Need help?  Go to the <a href="/about">about page</a> for information and instructions on our features. </small>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-xl-2 col-xl-4 mb-5e3"> <!-- go to rhythm page-->
                <div class="portfolio-item mx-auto" >
                    <div class="portfolio-item-caption-rhythm d-flex align-items-center justify-content-center h-100 w-100" >
                        <div onclick="goToRhythm()" class="portfolio-item-caption-rhythm-content text-center text-white text-uppercase mb-0"  >
                          <div class="row">Rhythm Recording</div> 
                          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                          </svg>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/images/rhythmIcon.png') }}"  alt="" />
                </div>
              </div>
            <!-- Portfolio Item 2-->
            <div class="col-xl-2 col-xl-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption-melody d-flex align-items-center justify-content-center h-100 w-100"> 
                        <div onclick="goToMelody()" class="portfolio-item-caption-melody-content text-center text-white text-uppercase mb-0">
                          <div class="row">Melody Recording</div>
                          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                          </svg>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/images/melodyIcon.png') }}" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-secondary text-white mb-0" id="crowdsourcingSection">
  <div class="container">
      <!-- Crowdsourcing Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Crowdsourcing</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
      </div>
      <!-- Crowdsourcing Section Description-->
      <div class="row">
          <div class="col"><p class="lead">Help Taptune by adding a song to our own database that was not found by Rhythm Recording.  All we need is a Song Title, Song Artist, and YouTube Link to the song with good quality.
            <br><br> <i class="fas fa-search"></i> <a href="#" style="color:white" data-toggle="modal" data-target="#searchDatabaseModal"> 
                If you want to search our songs database, click here!
            </a>
            <br><br> Thank you for helping Taptune! </p></div>
      </div>
      <!-- Crowdsourcing Form -->
      <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
            <div id="contactForm" name="sentCrowdSourcing" novalidate="novalidate" autocomplete="off">
                <div class="control-group" >
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Song Title</label>
                        <input class="form-control" id="song_title" type="text" placeholder="Song Title" required="required" autocomplete="off" data-validation-required-message="Please enter the title of the song." />
                        <p class="help-block text-danger" id="song_title_help"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Song Artist</label>
                        <input class="form-control" id="song_artist" type="text" placeholder="Song Artist" required="required" autocomplete="off" data-validation-required-message="Please enter the artist of t he song." />
                        <p class="help-block text-danger" id="song_artist_help"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Youtube Link</label>
                        <input class="form-control" id="song_link" type="link" placeholder="Youtube Link" required="required" autocomplete="off" data-validation-required-message="Please enter the YouTube link to the song." />
                        <p class="help-block text-danger" id="song_link_help"></p>
                    </div>
                </div>
                <div class="control-group pt-4">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <input type="file" id="song_file" required="required" data-validation-required-message="Please enter a valid mp3/mp4 file.">
                        <p class="help-block text-danger" id="song_file_help"></p>
                    </div>
                </div>
                <br />
                <div id="success"></div>
                <div class="form-group"><button class="btn btn-primary btn-lg" id="sendSourceButton" type="submit" data-toggle="modal" data-target="#sourcingModalSongResponse">Submit</button></div>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- Panel Instructions for Each Feature-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Rhythm Recording</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Description-->
                          <p class="text-muted text-left"> TapTune's <span style="color: #65baff; font-weight: bold;">Rhythm Recording </span>feature takes your input of beats to a song's rhythm and any filters that you can remember to describe the song.  It will then use a search algorithm after analyzing your input values to find the song that you are thinking of and display what we found.</p>
                          <!-- Portfolio Modal - Text-->
                          <h3 class="mb-1 text-secondary text-uppercase text-left">Instructions</h3>
                          <ol class="text-left" type="1">
                            <li>Press the "Start Recording" button.</li>
                            <li>When you are ready, start tapping anywhere on the screen to record the rhythm of the song you are thinking of.</li>
                            <li>If you feel as if you messed up on the input, feel free to reset the recording with the reset button.</li>
                            <li>Once you tapped around 8-20 beats, click "Stop" </li>
                            <li>[TODO] Listen back to the rhythm that you recorded and if you think it's accurate, "Submit" your recording.</li>
                            <li>Input any filters that you think would help with our search.</li>
                            <li>Wait for the website to find your song and you should find our top main result based on your input recording and filters.</li>
                          </ol> 
                          <button class="btn btn-lg btn-primary" data-dismiss="modal" onclick="goToRhythm()">
                              Start Recording
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Instruction Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Melody Recording</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Description-->
                          <p class="text-muted text-left"> TapTune's <span style="color: #ff9292; font-weight: bold;">Melody Recording </span>feature takes your singing/humming of a song you can remember.  It will then use a search algorithm after analyzing your input values to find the song that you are thinking of and display what we found.</p>
                          <!-- Portfolio Modal - Text-->
                          <h3 class="mb-1 text-secondary text-uppercase text-left">Instructions</h3>
                          <ol class="text-left" type="1">
                            <li>Press the "Start Recording" button.</li>
                            <li>When you are ready, start singing and humming to the song you're thinking of</li>
                            <li>If you feel as if you messed up on the input, feel free to reset the recording with the reset button.</li>
                            <li>Once you sing or hum at least 10 seconds, click "Stop" </li>
                            <li>[TODO] Listen back to your singing/humming that you recorded and if you think it's accurate, "Submit" your recording.</li>
                            <li>Wait for the website to find your song and you should find our top main result based on your input recording.</li>
                          </ol> 
                          <button class="btn btn-lg btn-primary" data-dismiss="modal" onclick="goToMelody()">
                              Start Recording
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Modal For Sourcing -->
<div class="modal fade" id="sourcingModalSongResponse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Song Received</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Thank you for contributing to TapTune!  After verifying the submission, TapTune's Rhythm Recording will now be able to recognize your song.  </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal For Sourcing -->
<div class="modal fade" id="searchDatabaseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Search Database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-2 pb-0">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control" id="searchTitle" name="input_title" placeholder="Enter Title...">
                </div>
                <div class="form-group">
                    <label for="inputArtist">Artist</label>
                    <input type="text" class="form-control" id="searchArtist" name="input_artist" placeholder="Enter Artist...">
                </div>
                <div class="form-group">
                    <label>Result</label>
                    <p id="searchResult" class="form-control" style="height: 10rem;">
                        <span style="color: rgb(216, 216, 216);">
                            Waiting for Search...
                        </span>
                    </P>
                </div>

            </div>
            <div class="modal-footer pt-1">
                <button id="searchDatabaseButton" type="button" class="btn btn-third">Search</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    {{super()}}
    <script src="{{ url_for('static', filename='crowdsourcing.js') }}"></script>
{% endblock %}