{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
    {{ super() }}

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Import materialize.css-->
    <!--  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/> -->

    <!-- custom styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/loginStyle.css')}}">

    <style type="text/css">
        .important { color: #ac1a00; }

        /* Material specific toast css for form data validation */
        #toast-container {
            display: block;
            position: fixed;
            z-index: 10000;
        }

        @media only screen and (min-width: 993px){
            #toast-container {
                top: 10%;
                right: 7%;
                max-width: 86%;
            }
        }

        @media only screen and (max-width: 600px){
            #toast-container {
                min-width: 100%;
                bottom: 0;
            }
        }

        .toast {
            border-radius: 2px;
            top: 35px;
            width: auto;
            margin-top: 10px;
            position: relative;
            max-width: 100%;
            height: auto;
            min-height: 48px;
            line-height: 1.5em;
            background-color: #323232;
            padding: 10px 25px;
            font-size: 1.1rem;
            font-weight: 300;
            color: #fff;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            cursor: default;
            -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
        }

        @media only screen and (max-width: 600px){
            .toast {
                width: 100%;
                border-radius: 0;
            }
        }

        .progress {
            position: relative;
            height: 4px;
            display: block;
            width: 100%;
            background-color: #acece6;
            border-radius: 2px;
            margin: .5rem 0 1rem 0;
            overflow: hidden;
        }

        .progress .indeterminate {
            background-color: #26a69a;
        }

        .progress .indeterminate:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        .progress .indeterminate:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
        }

    </style>
{% endblock %}
{% block content %}
<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><h2>User Login</h2></div>
                    <div class="card-body">
                        <form id="login-form" action="/login" method="POST" data-ajax-form data-success-response="redirect">
                            <div class="form-group row">
                                <div class="col-md-4 text-md-right">
                                    <label for="email_address" class="col-form-label">E-Mail Address</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" id="email_address" class="form-control" name="email" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 text-md-right">
                                    <label for="password" class="col-form-label">Password</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <!--<div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>-->

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" id="login-form-btn" data-ajax-submit class="btn btn-primary waves-effect waves-light">
                                    Login
                                </button>
                                <a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </form>
                        <div id="form-response"></div>
                        <hr>
                        <div class="text-center">
                            Need an account?
                            <a href="/register" style="margin-left:10px;">Register Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block js %}
    {{super()}}
    <!-- jQuery validation is not included in the script above, so needs to be explicitly included -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Bootstrap HTML framework -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Materialize CSS framework -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}