{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <style type="styles/melody.css"></style>
{% endblock %}
{% block content %}
<div class="recording-bg h-100">
    {% if title == "There was an Error with the Service" %}
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0 mt-4">Melody Service Error</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-dark">
      <div class="divider-custom-line"></div>
    </div>

  </div>
  <div class="container d-flex align-items-center flex-column">
    <p class="text-muted">There was an error with the melody service <span style="color: #1f93ff; font-weight: bold;">AudD</span> in our search. Please try again at another time.   </p>
    <h3 class="mb-1 text-secondary text-uppercase text-left">Tips </h3>
    <ol class="mb-2 mt-2" type="1">
      <li>This kind of error may take a while. </li>
      <li>Please be patient with us as we try to keep things running!</li>
    </ol>
    <div class = "row">
      <button class="btn btn-primary mt-4 ml-3" data-dismiss="modal" onclick="goToMelody()">
        Try Again
      </button>
    </div>
  </div>
     {%elif title %}
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0 mt-4">Results</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-dark">
      <div class="divider-custom-line"></div>
    </div>

    <div id="filteredResultsList" data-filtered="{{filterResults}}"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <h2 class="masthead-heading text-uppercase mb-0 mt-4">Main Search</h1>
        <div class="divider-custom2 divider-dark">
          <div class="divider-custom2-line"></div>
        </div>


<!--            {%if melPreview%}
          <div class="videoWrapper">
            <iframe src="{{melPreview}}" style="border-radius: 10px;" width="100%" height="150px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          {%else%}
          <div class="image">
            <img class="img-fluid" src="https://i.ytimg.com/vi/le0BLAEO93g/maxresdefault.jpg"  alt="" />
            </div>
          {%endif%}-->
          <div class="videoWrapper">

            {%if melPreview%}
              <iframe src="{{melPreview}}" style="border-radius: 10px;" width="100%" height="150px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {%else%}
            <img class="img-fluid" src="https://i.ytimg.com/vi/le0BLAEO93g/maxresdefault.jpg"  alt="" />
            {%endif%}
            </div>


        <div class="row">
          <div class="col">
            <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">
              <span id = "resultsMainSearchTitle">
                  {{title}}

              </span>
            </h3>
          </div>
          <div class="col">
            <h3 class="masthead-subheading text-uppercase font-weight-heavy text-right mb-1">
              <span id = "resultsMainSearchPercentage" class="text-right" style="color: rgb(0, 145, 0)">
                  {%if score %}
                  {{score}}%
                  {%endif%}
              </span>
            </h3>
          </div>
        </div>
        <h4 id = "resultsMainSearchArtist" class="masthead-subheading text-uppercase font-weight-light mb-1">
            {{artist}}
        </h4>
        <div id="module" class="container mb-3">
          {%if lyrics != 'Not Found'%}
          <p id = "resultsMainSearchLyrics" class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 800px; max-height: 200px;">
        {{lyrics}}
          </p>
          {%endif%}
<!--          <a role="button" class="collapsed" data-toggle="collapse" href="#resultsMainSearchLyrics" aria-expanded="false" aria-controls="resultsMainSearchLyrics"></a>-->
        </div>
      </div>
      <div class="col mb">
        <h2 class="masthead-heading text-uppercase mb-0 mt-4">Related Searches</h2>
        <div class="divider-custom2 divider-dark">
          <div class="divider-custom2-line"></div>
        </div>
        <table id = "resultsSecondaryTable" class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Song Title</th>
              <th scope="col">Song Artist</th>
              <th scope="col">Match Percentage</th>
            </tr>
          </thead>
          <tbody id = "resultsSecondaryTableBody">
            {% for stuff in melResults %}
              {%if stuff.title != title and stuff.artists != artist %}
            <tr>
                <td>{{stuff.title}}</td>
                <td>{{stuff.artists}}</td>
                <td>{{stuff.score}}%</td>
              </tr>
            {%endif %}
            {% else %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    {% else %}
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0 mt-4">No Results</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-dark">
      <div class="divider-custom-line"></div>
    </div>
  </div>
  <div class="container d-flex align-items-center flex-column">
    <p class="text-muted">We couldn't find any matches to your <span style="color: #1f93ff; font-weight: bold;">Melody Recording</span> in our search!  Here are some tips to recording the melody for a better result.  </p>
    <h3 class="mb-1 text-secondary text-uppercase text-left">Tips </h3>
    <ol class="mb-2 mt-2" type="1">
      <li>Try to sing the melody in order instead of random bits of it. </li>
      <li>Results are more accurate when you record longer than 10 seconds. </li>
      <li>Use the playback button to confirm that it sounds correct to you. </li>
      <li>Record a different part of the song that you remember.</li>
    </ol>
    <div class = "row">
      <button class="btn btn-primary mt-4 ml-3" data-dismiss="modal" onclick="goToMelody()">
        Try Again
      </button>
    </div>
  </div>
  {%endif%}
</div>
{% endblock %}