{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

  <div id = "Buttons">
	 <button id="container">Start</button>
  	 <button id="recordTap" disabled>Tap</button>
  	 <button id="recordStop" disabled>Stop</button>
  </div> </br></br>

<p> To start press any key except the space and enter key<br/>
  To Tap press the space<br/>
  To Stop press the enter<br/>
</p>
  <div id = "KeyElements">
	 <button id="keyContainer">keyStart</button>
  	 <button id="keyTap" disabled>keyTap</button>
  	 <button id="keyStop" disabled>keyStop</button>
  </div>
{% endblock %}