{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="recording-bg h-100">
  <div id="tapScreenButton" class="material-click">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0 mt-4">Recording the Rhythm</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
      </div>
      <div class="row justify-content-center">
        <button id="startRecordingBtn" type="button" class="btn btn-primary">Start Recording</button>
        <button disabled id="resetRecordingBtn" type="button" class="btn btn-secondary ml-3">Reset</button>
        <button disabled id="finishRecordingBtn" type="button" class="btn btn-success ml-3">Stop</button>
      </div>
          <div id="rLoader"></div>
      <div class="row justify-content-center mt-3">    
        <button disabled id="playRecordingBtn" type="button" class="btn btn-success ml-3">Play</button>
        <div class="dropdown ml-3">
          <button id="recordingTypeDropdown" class="btn btn-third dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected1">
              Rhythm Type
            </span>
          </button>
          <div id = "recordingTypeDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">General Recording</a>
            <a class="dropdown-item" href="#"><span style="color: #018dff; font-weight: bold;">Percussion</span> + <span style="color: #ff8901; font-weight: bold;">Harmonics</span></a>
          </div>
        </div>
        <div class="dropdown ml-3">
          <button id="tapKeyDropdown" class="btn btn-third dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected2">
              Tap Key
            </span>
          </button>
          <div id="recordingKeyDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Disable Sound</a>
            <a class="dropdown-item" href="#">General</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">C</a>
            <a class="dropdown-item" href="#">D</a>
            <a class="dropdown-item" href="#">E</a>
            <a class="dropdown-item" href="#">F</a>
            <a class="dropdown-item" href="#">G</a>
            <a class="dropdown-item" href="#">A</a>
            <a class="dropdown-item" href="#">B</a>
          </div>
        </div>
        <audio controls id="harmony1" src="{{ url_for('static', filename='assets/playbackNotes/C.wav') }}" volume="0.1" hidden></audio>
        <audio controls id="harmony2" src="{{ url_for('static', filename='assets/playbackNotes/D.wav') }}" volume="1" hidden></audio>
        <audio controls id="harmony3" src="{{ url_for('static', filename='assets/playbackNotes/E.wav') }}" volume="1" hidden></audio>
        <audio controls id="harmony4" src="{{ url_for('static', filename='assets/playbackNotes/F.wav') }}" volume="1" hidden></audio>
        <audio controls id="harmony5" src="{{ url_for('static', filename='assets/playbackNotes/G.wav') }}" volume="1" hidden></audio>
        <audio controls id="harmony6" src="{{ url_for('static', filename='assets/playbackNotes/A.wav') }}" volume="0" hidden></audio>
        <audio controls id="harmony7" src="{{ url_for('static', filename='assets/playbackNotes/B.wav') }}" volume="0" hidden></audio>
        <audio controls id="percussion" src="{{ url_for('static', filename='assets/playbackNotes/simple-kick.wav') }}" volume="0" hidden></audio>
        <audio controls id="percussion2" src="{{ url_for('static', filename='assets/playbackNotes/Drum.wav') }}" volume="0" hidden></audio>
      </div>
      <div class="speedcontrolcontainer">
        <div>
          <label for="pbrate">Speed:</label>
          <input type="range" id="pbrate" min=.5 max=3 value=1 step=.1>
          <span></span>
        </div>
      </div>
      <div class="container d-flex align-items-center flex-column">
        <h1 disabled id="counter-number" class="py-5 counter-text">0</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
    {{super()}}
    <script src="{{ url_for('static', filename='clickRecord.js') }}?t={{uuid}}"></script>
{% endblock %}