{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='styles/microphone.css')}}">
{% endblock %}
{% block content %}

<div class="app">
  <select name="" id="micSelect"></select>

  <select id="visSelect">
    <option value="frequencybars">Bar</option>
    <option value="sinewave">Wave</option>
    <option value="circle">Circle</option>
  </select>

  <a id="download" >Download</a>

    <div class="audio-controls">
            <button id="record" class="btn btn-primary">Start Recording</button>
{#            <button id="pause" class="btn btn-secondary ml-3 "><i class="fa fa-pause" aria-hidden="true"></i>  Pause</button>#}
            <button id="clear" class="btn btn-secondary ml-3 ">Clear</button>
            <button id="stop" class="btn btn-success ml-3 ">Stop</button>
            <audio id="audio" class="js-audio audio audio--hidden" controls></audio>
    </div>

  <div id="msg">Recording...</div>
  <div id="msg2">Recording Paused</div>
{#  <div id="msg3">Cleared..</div></div>#}
  <canvas width="500" height="300"></canvas>
<div>

{% endblock %}
{% block js %}
    {{super()}}
    <script src="{{ url_for('static', filename='microphone.js') }}"></script>
{% endblock %}