{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="static/styles/userProfilePageStyle.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% block content %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://image.flaticon.com/icons/png/128/1946/1946392.png" alt=""/>
                    {# Check to see if the user has a photo  #}
                    {% if user.image %}
                        {# If a photo exists, give the option to change the user photo #}
                        {{ user.image }}
{#                        <input type="file" name="image" value="Change Photo">#}
                    {% else %}
                        {# If no photo exists, give the option to upload a new one #}
{#                        <input type="file" name="image" value="Upload">#}
                    {% endif %}

                    <div class="file btn btn-sm">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{user.username}}
                    </h5>
                    <h6>
                        Music lover
                    </h6>
{#                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>#}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">Favorite Songs</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="Suggestion-tab" data-toggle="tab" href="#suggestions" role="tab" aria-controls="suggestions" aria-selected="false">Song Suggestions</a>
                        </li> -->
                    </ul>
                </div>
            </div>
{#            <div class="col-md-2">#}
{#                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>#}
{#            </div>#}
        </div>
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <div class="profile-work">#}
{#                    <p>WORK LINK</p>#}
{#                    <a href="">Website Link</a><br/>#}
{#                    <a href="">Bootsnipp Profile</a><br/>#}
{#                    <a href="">Bootply Profile</a>#}
{#                    <p>SKILLS</p>#}
{#                    <a href="">Web Designer</a><br/>#}
{#                    <a href="">Web Developer</a><br/>#}
{#                    <a href="">WordPress</a><br/>#}
{#                    <a href="">WooCommerce</a><br/>#}
{#                    <a href="">PHP, .Net</a><br/>#}
{#                </div>#}
{#            </div>#}
            <div class="col-md">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
{#                        <div class="row">#}
{#                            <div class="col-md-6">#}
{#                                <label>Phone</label>#}
{#                            </div>#}
{#                            <div class="col-md-6">#}
{#                                <p>123 456 7890</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-6">#}
{#                                <label>Profession</label>#}
{#                            </div>#}
{#                            <div class="col-md-6">#}
{#                                <p>Web Developer and Designer</p>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                            <div class="row">
                                <div class="col">
                                    <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">Song History</h3>
                                    <ul class="timeline">
                                        {%for song_result in user_song_log%}
                                        <li>
                                            <a id="songLogTitle{{loop.index}}" href="#">{{song_result['song'].title}}</a>
                                            <a href="#" class="float-right">{{(song_result['percent_match']*100)|round(2)}}% | {{song_result['result_date'].strftime('%x')}}</a>
                                            <p>
                                                <span id="songLogArtist{{loop.index}}">
                                                    Artist: {{song_result['song'].artist}}
                                                </span>
                                                <br>
                                                Genre: {{song_result['song'].genre}}
                                            </p>
                                            <p>
                                                {%if not song_result['song'].is_favorite() %}
                                                    {%if user.is_spotify_login() %}
                                                        Add to Spotify
                                                    {%endif%}
                                                    <a id="songLogLink" data-index="{{loop.index}}" data-song-id="{{song_result['song'].id}}" href="#"> <i id="songLogIcon{{loop.index}}" class="far fa-heart fa-lg"></i> </a>
                                                {%endif%}
                                            </p>
                                        </li>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">Suggested Song</h3>
                                <p class="text-muted"> Get a Spotify suggested song based on your selected favorited songs in your user profile below.  Simply check off songs you want the suggestion to be based off and press the Suggest button!  </p>
                                <div class="col border-left">
                                    <a id="suggestedImageLink" href="https://open.spotify.com/track/4jU7NPkz4HVnM4hweqNhI1?si=14ba6cc5d2184f64" target="_blank">
                                        <img id="suggestedImage" class="img-fluid" src="https://i.scdn.co/image/ab67616d00001e02661d019f34569f79eae9e985">
                                    </a>
                                    <h3 id="suggestedTitle" >
                                        Blue Orchid
                                    </h3>
                                    <h4 id="suggestedArtist">
                                        The White Stripes
                                    </h4>
                                    <button id="suggestSpotifySongBtn" type="button" class="btn btn-success"><i class="fab fa-spotify"></i> Refresh</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">Favorited Songs</h3>
                                <div class="col border-left">
                                        <button id="prevPageList" type="button" class="btn btn-secondary">Prev Page</button>
                                        <button id="nextPageList" type="button" class="btn btn-secondary">Next Page</button>
                                        <br>
                                        <button id="removeSelectedSongs" type="button" class="btn btn-third">Remove From Favorites</button>
                                </div>
                                <ul class="timeline">
                                    {%for song in user_fav_songs%}
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <br>
                                            {%if loop.index == 1 or loop.index == 2 or loop.index == 3 or loop.index == 4 or loop.index == 5%}
                                            <input type="checkbox" id="songFavoritedCheckbox" data-track="{{song.title}},{{song.artist}},{{song.id}}" data-song-id="song.id" name="scales" class="mt-2"
                                            checked>
                                            {%else%}
                                            <input type="checkbox" id="songFavoritedCheckbox" data-track="{{song.title}},{{song.artist}},{{song.id}}" name="scales" class="mt-2"
                                            unchecked>
                                            {%endif%}
                                        </div>
                                        <div class="col">
                                            <a id="songFavoritedTitle{{loop.index}}" href="#">{{song.title}}</a>
                                            <a href="#" class="float-right">{{song.favorited_on.strftime('%x')}}</a>
                                            <p>
                                                <span id="songFavoritedTitle{{loop.index}}">
                                                    Artist: {{song.artist}}
                                                </span><br>
                                                Genre: {{song.genre}}
                                            </p>    
                                        </div>
                                    </div>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade" id="suggestions" role="tabpanel" aria-labelledby="suggestions-tab">
                        <div class="row">
                            <div class="col">
                                <h3>Song Suggestions</h3>
                                <ul class="timeline">
                                    {%for song in user_fav_songs%}
                                        <li>
                                            <a href="#">{{song.title}}</a>
                                            <a href="#" class="float-right">{{song.favorited_on.strftime('%x')}}</a>
                                            <p>
                                                Artist: {{song.artist}}<br>
                                                Genre: {{song.genre}}
                                            </p>
                                        </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
    {{super()}}
    <script src="{{ url_for('static', filename='userProfileTabs.js') }}?t={{uuid}}"></script>
{% endblock %}