{% extends "layout.html" %}
{% block title %} - Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="static/styles/userProfilePageStyle.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% block content %}
    <div class="container emp-profile pr-0">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-head">
                        <h1 style="color: #1abc9c;">
                            {{phrases[rand]}}
                        </h1>
                        <h2>
                            {{user.username}}
                        </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{user.username}}
                        </h5>
                        <h6>
                            {{ user.email }}
                        </h6>
                        {#                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>#}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">Favorites</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- User History Tab -->
                    <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">
                        <div class="row">
                            <div class="col">
                                <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">Song History</h3>
                                <div class="divider-custom2 p-0">
                                    <div class="divider-custom2-line"></div>
                                </div>
                                <div class="col ml-0 pl-0 pt-1 pb-1">
                                    <button id="prevPageList" type="button" class="btn btn-secondary">Prev Page</button>
                                    <button id="nextPageList" type="button" class="btn btn-secondary">Next Page</button>
                                </div>
                                <div id="pageContainer">
                                    <ul class="timeline">
                                        {% for song_result in user_song_log %}
                                            <div class="row" data-track="{{ song_result['song'].title }}" id="songRow">
                                                <li>
                                                    <a id="songLogTitle{{ loop.index }}" href="#">{{ song_result['song'].title }}</a>
                                                    <a href="#"
                                                       class="float-right">{{ (song_result['percent_match']*100)|round(2) }}% | {{ song_result['result_date'].strftime('%x') }}</a>
                                                    <p>
                                                        <span id="songLogArtist{{ loop.index }}">
                                                            Artist: {{ song_result['song'].artist }}
                                                        </span>
                                                        <br>
                                                        Genre: {{ song_result['song'].genre }}
                                                    </p>
                                                    <p>
                                                        {% if not song_result['song'].is_favorite() %}
                                                            {% if user.is_spotify_login() %}
                                                                Add to Spotify
                                                            {% endif %}
                                                            <a id="songLogLink" data-index="{{ loop.index }}" data-song-id="{{ song_result['song'].id }}" href="#">
                                                                <i id="songLogIcon{{ loop.index }}" class="fa fa-heart fa-lg"></i>
                                                            </a>
                                                        {% endif %}
                                                        <a id="songDeleteLink" data-index="{{ loop.index }}" data-song-id="{{ song_result['song'].id }}" href="#" style="color: black">
                                                            <i id="songDeleteIcon" class="fa fa-trash fa-lg"></i>
                                                        </a>
                                                    </p>
                                                </li>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Favorites/SongSuggestion Tab-->
                    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
                        <!-- Song Suggestion Based on selected favorites -->
                        <div class="row">
                            <div class="col-md pl-0 pr-0">
                                <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">Suggested Song</h3>
                                <div class="divider-custom2 p-0">
                                    <div class="divider-custom2-line"></div>
                                </div>
                                <div class= "col-md-9 p-0" >
                                    <p class="text-muted"> Get a Spotify suggested song based on your selected favorited songs in your user profile below. <br> Simply check off songs you want the suggestion to be based off and press the Refresh button!  <br> Optional Attributes from 0-100 can be applied to the search in the panel below.  <br> If untouched, will be by default not used in our search.  </p>
                                </div>
                                <div class="col pt-1">
                                    <div class="row">
                                        <div class="col-md pt-0 pl-2 pr-0 mb-2">
                                            <div class="videoWrapper">
                                                <iframe id ="suggestframe" src="https://open.spotify.com/embed/track/6IwKcFdiRQZOWeYNhUiWIv" style="border-radius: 10px;" width="100%" height="auto" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                                <div class="spotify-refresh pb-2">
                                                    <button id="suggestSpotifySongBtn" type="button" class="btn btn-success"><i class="fab fa-spotify"></i> Refresh</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pt-0 mb-2 pl-1 pr-0">
                                            <div class="container rounded border pb-2" style="height: 100%;">
                                                <!--Attributes Header-->
                                                <div class="container d-flex align-items-center flex-column">
                                                    <h5 class="masthead-subheading text-uppercase font-weight-heavy pt-4 pb-0">Spotify Attributes %</h4>
                                                        <div class="divider-custom3 pt-1 pb-1">
                                                            <div class="divider-custom3-line"></div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 text-center pt-1 pl-1 pr-0">
                                                        <label for="pbrate0">Acousticness</label>
                                                    </div>
                                                    <!--Attributes Slider-->
                                                    <div class="col-sm-6 pt-1 pl-1 pr-0">
                                                        <div class="speedcontrolcontainer pt-1 pb-2">
                                                            <input class="center-slider" type="range" id="pbrate0" min=0 max=1 value=0 step=.1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 text-center pt-1 pl-1 pr-0">
                                                        <label for="pbrate0">Danceability</label>
                                                    </div>
                                                    <!--Attributes Slider-->
                                                    <div class="col-sm-6 pt-1 pl-1 pr-0">
                                                        <div class="speedcontrolcontainer pt-1 pb-2">
                                                            <input class="center-slider" type="range" id="pbrate0" min=0 max=1 value=0 step=.1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 text-center pt-1 pl-1 pr-0">
                                                        <label for="pbrate0">Energy</label>
                                                    </div>
                                                    <!--Attributes Slider-->
                                                    <div class="col-sm-6 pt-1 pl-1 pr-0">
                                                        <div class="speedcontrolcontainer pt-1 pb-2">
                                                            <input class="center-slider" type="range" id="pbrate0" min=0 max=1 value=0 step=.1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 text-center pt-1 pl-1 pr-0">
                                                        <label for="pbrate0">Instrumental</label>
                                                    </div>
                                                    <!--Attributes Slider-->
                                                    <div class="col-sm-6 pt-1 pl-1 pr-0">
                                                        <div class="speedcontrolcontainer pt-1 pb-2">
                                                            <input class="center-slider" type="range" id="pbrate0" min=0 max=1 value=0 step=.1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 text-center pt-1 pl-1 pr-0">
                                                        <label for="pbrate0">Loudness</label>
                                                    </div>
                                                    <!--Attributes Slider-->
                                                    <div class="col-sm-6 pt-1 pl-1 pr-0">
                                                        <div class="speedcontrolcontainer pt-1 pb-2">
                                                            <input class="center-slider" type="range" id="pbrate0" min=0 max=1 value=0 step=.1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- List of User's Favorited Songs -->
                        <div class="row">
                            <div class="col">
                                <h3 class="masthead-subheading text-uppercase font-weight-heavy mb-1">Favorited Songs</h3>
                                <div class="divider-custom2 p-0">
                                    <div class="divider-custom2-line"></div>
                                </div>
                                <div class="col ml-0 pl-0 pt-1 pb-1">
                                    <button id="prevPageListTwo" type="button" class="btn btn-secondary">Prev Page</button>
                                    <button id="nextPageListTwo" type="button" class="btn btn-secondary">Next Page</button>
                                </div>
                                <div id="pageContainerTwo">
                                        {%for song in user_fav_songs%}
                                            <div class="row" data-track="{{song.title}},{{song.artist}},{{song.id}}" id="songRowTwo">
                                                <div>
                                                    <div class="col-xs-1">
                                                            <input type="checkbox" id="songFavoritedCheckbox" data-track="{{song.title}},{{song.artist}},{{song.id}}" name="scales" class="mt-2 pt-3"
                                                                   unchecked>
                                                    </div>
                                                    <div class="col pt-0 mt-0">
                                                        <a id="songFavoritedTitle{{loop.index}}" href="#">{{song.title}}</a>
                                                        <a href="#" class="float-right">{{song.favorited_on.strftime('%x')}}</a>
                                                        <p>
                                                            <span id="songFavoritedTitle{{loop.index}}">
                                                                Artist: {{song.artist}}
                                                            </span><br>
                                                            Genre: {{song.genre}}
                                                        </p>
                                                        <a id="songDeleteFav" data-title="{{song.title}}" data-artist="{{song.artist}}" data-song-id="{{ song.id }}" href="#" style="color: black">
                                                            <i id="songDeleteFavIcon" class="fa fa-trash fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}

{% block js %}
    {{super()}}
    <script src="{{ url_for('static', filename='userProfileTabs.js') }}?t={{uuid}}"></script>
    <script src="{{ url_for('static', filename='historyPagination.js') }}?t={{uuid}}"></script>
{% endblock %}