#msg {
  visibility: hidden;
  color: red;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
}

#msg2 {
  visibility: hidden;
  color: red;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
}

#loader {

  visibility: hidden;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #780505; /* red */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  padding: 5px 10px;
  border: 1px solid grey;
  font-size: 18px;
  background: white;
}

.audio-controls {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}
.audio-controls button {
  margin: 0px 5px;
}
canvas {
  margin-top: 10px;
  background-color: black;
}
select {
  height: 25px;
  margin: 0px 5px;
}
.app {
  text-align: center;
  padding-top: 20px;
}