
@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}

* {
  box-sizing: border-box;
}

.recorder {
  
}

.waveform {
  position: relative;
  
  padding: 4rem 0;
  

}

.toolbar { 
  text-align: center;
}

.button {
  
  position: relative;
  
  display: inline-block;
  
  width: 8rem;
  height: 8rem;
  margin: 0 1rem;
  padding: 0;

  
  border-radius: 50%;
  border: none;
  outline: none;
  
  font-size: 4rem;
  
  cursor: pointer;
  
}

.audio {
  width: 0;
  height: 0;
  
  opacity: 0;
  visibility: 0;
}

.message {
  transtion: opacity .4s ease-in-out;
  padding: 1rem 2rem;
  
  opacity: 0;
  
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.js-canvas {
  width:100%
}